{% extends './layouts/master.njk' %}

{% block content %}

    <main class="main">
        <div class="container-fluid">
            Oye appa ne kar laya kam
        </div>
    </main>

{% endblock %}